<div class="container">
<p style="color: green"><%= notice %></p>

<%= render @tweet %>

<div>
<% if @tweet.user==current_user %>
  <%= link_to "Edit", edit_tweet_path(@tweet) %> | <%= link_to "Destroy", @tweet, method: :delete %> |
  <% end %>
  <%= link_to "Back to tweets", tweets_path %>

 
</div>
</div>