<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class="form-control" %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group">
    <%= form.label :url, class="form-control" %>
    <%= form.text_field :url %>
  </div>

  <div class="form-group">
    <%= form.label :text, class="form-control" %>
    <%= form.text_area :text %>
  </div>
  <br/>
  <div>
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
