<div id="<%= dom_id item %>">
  <p>
    <strong>User:</strong>
    <%= item.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= item.url %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= item.text %>
  </p>

</div>
