<div class="container">
<p style="color: green"><%= notice %></p>

<h1>Items</h1>

<div id="items">
  <% @items.each do |item| %>
    <%= render item %>
    <p>
      <%= link_to "Show", item %>
      <% if user_signed_in? %>
      |
        <% if current_user.voted_for? item %>
          <%= link_to "Unvote", unvote_item_path(item), method: :delete %>
        <% else %>
          <%= link_to "Vote", vote_item_path(item) , method: :post%>
        <% end %>
      <% end %>
  </p>
  <% end %>
</div>
<% if user_signed_in? %>
<%= link_to "New item", new_item_path %>
<% end %>
</div>