<div class="container">
<p style="color: green"><%= notice %></p>
<p><strong>User:<strong>
<%= @item.user.email %>
</p>
<p><strong>Title:<strong>
<%= @item.title %>
</p>
<p><strong>Url:<strong>
<%= @item.url %>
</p>
<p><strong>Text:<strong>
<%= @item.text %>
</p>
<p><strong>Votes:<strong>
<%= @item.votes_for.up.size %>
</p>
<div>
<% if @item.user==current_user %>
  <%= link_to "Edit ", edit_item_path(@item) %> |
  <%= link_to "Destroy ", @item, method: :delete %> |
  <%= link_to "Back ", items_path %>
  <%end %>
</div>
</div>
